{% extends "base.html" %}

{% block title %}About - Japanese Evaluator{% endblock %}

{% block content %}
<div class="main-content">
  <h1>About This App</h1>
  <p>
    This app is designed to help learners practice Japanese vocabulary and grammar, especially for the JLPT (Japanese Language Proficiency Test) levels N5–N1.<br>
    You can try vocabulary quizzes, grammar translation practice, and see example sentences.<br><br>
    This app is powered by the OpenAI API to generate quizzes, example sentences, and feedback. The prompts used for AI generation are regularly monitored and updated, but if you notice anything strange or incorrect, please feel free to send your feedback.
  </p>

  <h2>About the developer</h2>
  <p>
    Created by B
    ,an uni student / Japanese teacher on Preply.<br>
    Want to learn Japanese on Preply?
    <span class="emoji-shake-x">👉</span>
    <a href="https://preply.com/en/?pref=MTM4ODQxODM=&id=1752248656.92274&ep=" target="_blank">We have a 30% discount code for you!</a><br>
  </p>
  <h2>Other apps</h2>
  <p>
    <a href="https://n-back-test-app.onrender.com" target="_blank">N-back test (numbers) (will take some time to load sorry)</a>
  </p>
</div>
{% endblock %} 